<div class="container-fluid">
  <div class="card border-0 mt-lg-3">
    <div class="card-block">
      <img class="float-md-right img-rounded col-md-4 mx-auto d-block align-content-around" src="{{aboutContents.image}}" alt="{{aboutContents.content}}" />
      <p class="card-text">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
        from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
        line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
        from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
      </p>
    </div>
  </div>
  <div class="card col-md-12 rounded-0 border-0">
    <div class="card-block">
      <ul>
        <li>{{aboutHeaders.title}}</li>
        <li>{{aboutContents.content}}</li>
      </ul>
    </div>

    <app-skyscrapper-pnl class="{{skyscrapperPanels.size}}"></app-skyscrapper-pnl>
  </div>
</div>
