#clmn-2.halfportrait_size {
  display: none;
  min-height: 300px;
  font-style: italic;
}
.hSkyscrapperBg {
  background-image: url("../../assets/skyscrappers/skyscrapperBackground.jpg");
  background-size: contain;
}
